<% layout('layout') %>
<h2>Login</h2>
<% if (typeof error !== 'undefined') { %><p style="color:red;"><%= error %></p><% } %>
<form method="post">
  <input name="email" type="email" required placeholder="Email"><br>
  <input name="password" type="password" required placeholder="Password"><br>
  <button type="submit">Login</button>
</form>